
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>
    <div id="app">
        <el-form ref="form" :inline="true" :model="form" label-width="120px">
          <el-form-item label="音声認識">
            <el-button-group>
              <el-button v-bind:disabled="recording"  @click="voice" plain><i class="el-icon-video-play"></i></el-button>
              <el-button v-bind:disabled="!recording" @click="voice" plain><i class="el-icon-video-pause"></i></el-button>
            </el-button-group>
          <el-select v-model="lang" label=" ">
              <el-option
                v-for="item in dict_neco"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
      <el-form ref="form" :model="form" label-width="120px">
        <el-form-item label="ヒト語">
          <el-input v-model="form.voicetext" type="textarea"></el-input>
        </el-form-item>
        <el-form-item label="ネコ語">
          <el-input v-model="form.cattext" type="textarea"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button @click="speak" plain>ネコ語で話す</el-button>
          <el-button @click="tail" plain>しっぽで話す</el-button>
        </el-form-item>
      </el-form>
    </div>

    <!-- import JavaScript -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.22/vue.min.js'></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="lib/tiny_segmenter.js" charset="UTF-8"></script>
<!-- 2019-01-25 https://cdnjs.com/libraries/vue -->
<script>
//Chromeの音声認識
SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
let recognition = new SpeechRecognition();
recognition.lang = 'ja-JP';
//text to speech
var synth = window.speechSynthesis;

var vue_example = new Vue({
  el: '#app',
  data () {
    return {
        form : { voicetext: '', cattext: ''},
        //options: this.dict_neco,
        lang : '1',
        recording : false, 
        dict_neco : [
          {value:'1',label:'Japanese-cat',lang:["にゃ","ごろ","にゃん","ごろごろ","うにゃん"]},
          {value:'2',label:'English-cat',lang:["mewmew","meow","meooow","mew","uhuu"]},
          {value:'3',label:'Alabian-cat',lang:["عَرَبِيّ","العربية","اللغة","عَرَبِيّ","عَرَبِيّ"]}
        ], 
    }
  },
  methods: {
    reverse: function () {
      this.message = this.message.split('').reverse().join('')
    },
    voice: function() {
        console.log("on:"+this.recording);
        if (!this.recording) {
          　this.form.voicetext = "";
            this.form.cattext = "";
            this.recording = true;
            this.recognise();
        } else {
          this.recording = false;
          recognition.stop();
          return;
        }
    },
    recognise: function() {
      console.log("recognise");
      recognition.start(); //音声認識開始
      recognition.onresult = (event) => {
        let text = event.results[0][0].transcript;
        this.form.voicetext = this.form.voicetext + " " + text;
        this.form.cattext = this.form.cattext + "🐈" + this.trancsrate(text);
        console.log(this.form.voicetext);
      }
      recognition.onend = (event) => {
        console.log("end");
        if (this.recording) recognition.start(); //音声認識開始
      }
    },
    trancsrate: function(text) {
      let necos = [];
      //辞書をセット
      let lang = [];
      if (this.lang == '1') lang = this.dict_neco[0].lang;
      if (this.lang == '2') lang = this.dict_neco[1].lang;
      if (this.lang == '3') lang = this.dict_neco[2].lang;
      //テキストを文節に分割
      let segmenter = new TinySegmenter();
      let segs = segmenter.segment(text);
      //console.log(segs);
      for (let i=0; i<segs.length;i++) {
        //ランダムに辞書の言葉を返す
        necos[i] = lang[Math.floor(Math.random() * lang.length)];
      }
      return necos.join(" ");
    },
    speak: function() {
      if (synth.speaking) {
          console.error('speechSynthesis.speaking');
          return;
      }
      if (this.form.cattext !== '') {
        let text = this.form.cattext.replace("🐈","");
        var utterThis = new SpeechSynthesisUtterance(text);
        utterThis.onend = function (event) {
            console.log('SpeechSynthesisUtterance.onend');
        }
        utterThis.onerror = function (event) {
            console.error('SpeechSynthesisUtterance.onerror');
        }
        utterThis.voice = synth.getVoices()[0];
        utterThis.pitch = "1.2";
        utterThis.rate = "1.1";
        if (this.lang == '2') utterThis.lang = 'en-US';
        synth.speak(utterThis);
      }
    },
    tail:function() {
      //ここでしっぽをふる実装をする
    }
  },
})

</script>
</body>
</html>
